<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>servlets.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PromenaLozinke</servlet-name>
        <servlet-class>servlets.PromenaLozinke</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DodajUstanovu</servlet-name>
        <servlet-class>servlets.DodajUstanovu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UstanoveList</servlet-name>
        <servlet-class>servlets.UstanoveList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DodajOdeljenje</servlet-name>
        <servlet-class>servlets.DodajOdeljenje</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DodajLekara</servlet-name>
        <servlet-class>servlets.DodajLekara</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrihvatiKorisnika</servlet-name>
        <servlet-class>servlets.PrihvatiKorisnika</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BiranjeNacelnika</servlet-name>
        <servlet-class>servlets.BiranjeNacelnika</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PisanjeIzvestajaOP</servlet-name>
        <servlet-class>servlets.PisanjeIzvestajaOP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PisanjeUputa</servlet-name>
        <servlet-class>servlets.PisanjeUputa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PisanjeIzvestajaSP</servlet-name>
        <servlet-class>servlets.PisanjeIzvestajaSP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OtvaranjePL</servlet-name>
        <servlet-class>servlets.OtvaranjePL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IzmeniNalaz</servlet-name>
        <servlet-class>servlets.IzmeniNalaz</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DodajLekaraSpecijalistu</servlet-name>
        <servlet-class>servlets.DodajLekaraSpecijalistu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OtpustiPacijenta</servlet-name>
        <servlet-class>servlets.OtpustiPacijenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OdbiKorisnika</servlet-name>
        <servlet-class>servlets.OdbiKorisnika</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PromenaLozinke</servlet-name>
        <url-pattern>/PromenaLozinke</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DodajUstanovu</servlet-name>
        <url-pattern>/DodajUstanovu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UstanoveList</servlet-name>
        <url-pattern>/UstanoveList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DodajOdeljenje</servlet-name>
        <url-pattern>/DodajOdeljenje</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DodajLekara</servlet-name>
        <url-pattern>/DodajLekara</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrihvatiKorisnika</servlet-name>
        <url-pattern>/PrihvatiKorisnika</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BiranjeNacelnika</servlet-name>
        <url-pattern>/BiranjeNacelnika</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PisanjeIzvestajaOP</servlet-name>
        <url-pattern>/PisanjeIzvestajaOP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PisanjeUputa</servlet-name>
        <url-pattern>/PisanjeUputa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PisanjeIzvestajaSP</servlet-name>
        <url-pattern>/PisanjeIzvestajaSP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OtvaranjePL</servlet-name>
        <url-pattern>/OtvaranjePL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IzmeniNalaz</servlet-name>
        <url-pattern>/IzmeniNalaz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DodajLekaraSpecijalistu</servlet-name>
        <url-pattern>/DodajLekaraSpecijalistu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OtpustiPacijenta</servlet-name>
        <url-pattern>/OtpustiPacijenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OdbiKorisnika</servlet-name>
        <url-pattern>/OdbiKorisnika</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
</web-app>
